@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@foreach (var auction in Model.Auctions)
{
     <tr>
         <td>@auction.ItemName</td><td>@auction.CurrentBid</td><br>
            <form method="post">
            <input name="newBid" id="@auction.Id" value="@(auction.CurrentBid + 1)" />
              <button type="submit" class="btn btn-sm btn-danger" asp-page-handler="Bid" 
                asp-route-auctionId="@auction.Id" >Przycisk</button>
            </form>
     </tr>
}